.selected-option {
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  
  .selected-options-container{
    display: flex;
    align-items: center;
    border: 2px solid #a3b0c6;
    border-radius: 2px;
    flex-wrap: wrap;
    padding: 3px;

  }
  .selected-option .remove {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #777;
  }

  .adder-input-select{
    width: 200px;
    height: 30px;
    padding-left: 10px;
  }
  