.full-page{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00053c;


    h2{
        color: #92fbfe;
        font-size: xx-large;
        padding: 100px;
    }
}