@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --primary-color: #00897b;
  --primary-dark-blue : #1C212D;
  --yellow : #FFD831;
  --background-grey : #F3F6F9;
  --green-button : #346865;
  --blue-variant: #03aeee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
