.pill--span {
  display: flex;
  padding: 5px 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  background-color: var(--secondary-color);
  border-radius: 20px;
}
