$breakpoint-tablet: 768px;

.login--layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  // .blue-blur-box{
  //   width: 800px;
  // height: 800px;
  // background: var(--primary-light-blue);
  // right: 100px;
  // // top: 2%;
  // border-radius: 30%;
  // opacity: .3;
  // filter: blur(2000px);
  // position: absolute;
  // pointer-events: none;
  // }
  // .yellow-blur-box{
  //   width: 800px;
  // height: 800px;
  // background: var(--yellow);
  // left: 100px;
  // // top: 33%;
  // border-radius: 50%;
  // opacity: .15;
  // filter: blur(2000px);
  // position: absolute;
  // pointer-events: none;
  // }

}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 30px;
  height: 550px;
  width: 500px;
  // box-shadow: 0px 0px 20px 1px #ffffff3d;
  border-radius: 5%;

  .logo {
    width: 200px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-between;
  }

  span {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 7px;
    padding: 0 2px 0 5px;
  }

  input {
    padding: 15px 12px;
    width: 370px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-size: large;
    color: var(--tertiary-color);
    color: var(--sharp-color)
  }

  input:focus {
    outline: none;
    border-color: var(--tertiary-color);
    border-width: 2px;
    // caret-color: var(--primary-dark-blue);
  }
}

.login--textfield {
  position: relative;

  label {
    position: absolute;
    margin: 15px;
    color:  var(--tertiary-color);
    left: 0px;
    background-color: var(--primary-color);
  }
  .eye {
    position: absolute;
    margin: 15px;
    right: 0px;
    background-color: var(--primary-color);
    border: none;
  }

  input:focus + label {
    transform: translateY(-25px);
    font-size: 15px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    transition: ease-out 0.25s;
  }
  input:not(:placeholder-shown) + label {
    transform: translateY(-24px);
    font-size: 15px;
    color:  var(--tertiary-color);  
    background-color: var(--primary-color); 
    }
}

.error {
  color: red;
}

.login--layout-button {
  padding: 15px 12px;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 15px;
  margin-right: 15px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  background-color: var(--tertiary-color);
  color: var(--sharp-color);
  font-size: 15px;
  font-weight: 800;
  border-color: var(--tertiary-color);
}

.login--layout-button:hover{
  cursor: pointer;
  background-color: var(--sharp-color);
  color: var(--primary-color);
}
@media screen and (max-width: $breakpoint-tablet) {
  .login--layout {
    .hero {
      display: none;
    }
  }
  .login {
    width: 100%;
  }
}
