* {
  margin: 0;
  box-sizing: border-box;
}



.home-layout-container {
  background-color: var(--layout-bg-color);
  height: 100vh;
  width: 100vw;
  position: fixed;
  // top:0;
  // left:0;
}

.home-layout-content {
  height: 100vh;
  width: 100vw;
    background-color: var(--layout-bg-color);
}




// .home-layout-content {
//   flex: 1;
//   margin-left:100px;

//   transition: margin-left 0.5s ease;
// }

// .side-bar-container:hover {
//   width: 300px;
// }
