* {
  margin: 0;
  box-sizing: border-box;
}

.homeLayoutContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

.side-bar-container {
  transition: width 0.5s ease;
}

.home-layout-content {
  flex: 1;
  margin-left:100px;
  background-color: var(--primary-color);

  transition: margin-left 0.5s ease;
}

.side-bar-container:hover {
  width: 300px;
}

.side-bar-container:hover ~ .home-layout-content {
  margin-left: 300px;
}
